html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Open sans-serif;

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
.timer {
  display: flex;
}
.value {
  margin-right: 5px;
  font-weight: 700;
  color: green;
}
.field {
  /* margin-right: 10px; */
}
.field:last-child {
  margin-right: 0;
}
